:root {
  --color-primary-hue: 115deg; /* Default 115deg in bundle */
  --sizing: 1;
  --font-family-base: Poppins;
  --font-family-header: "Libre Baskerville";
  --font-family-monospace: "JetBrains Mono";
}
