.prompt {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instruction {
  width: 100%;
  min-height: 30px;
  padding: var(--size-base) calc(2 * var(--size-base));
  border: none;
  border-radius: var(--size-base);
  box-shadow: lightgrey 0 0 2px 4px;
}
