@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Inter:wght@400;700&family=JetBrains+Mono&display=swap");

:root {
  --font-family-base: Inter, sans-serif;
  --font-family-heading: "Ibarra Real Nova", serif;
  --font-family-monospace: "JetBrains Mono", monospace;
  --color-base: lightblue;
  --color-contrast: lightgreen;
  --size-base: 5px;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: var(--font-family-base);
}

h1,
h2 {
  font-family: var(--font-family-heading);
}

code,
pre {
  font-family: var(--font-family-monospace);
}

pre {
  white-space: pre;
}
