@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Inter:wght@400;700&family=JetBrains+Mono&display=swap");

:root {
  --chroma: 0.125;
  --color-primary-hue: 216deg; /* Default 115deg in bundle */
  --sizing: 1;
  --font-family-base: Inter, sans-serif;
  --font-family-heading: "Ibarra Real Nova", var(--font-family-heading);
  --font-family-monospace: "JetBrains Mono", monospace;
}
